<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thanks!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <img src="../static/feedback.png" alt="" class="logo" />
            <h1>Thank You!</h1>
            <h2>Your feedback is very appreciated! We hope to work with you again.</h2>
        </div>
    </body>
</html>